body {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body img[data-src] {
  filter: blur(0.2em);
}

body img {
  filter: blur(0em);
  transition: filter 0.5s;
}
