body {
  background-color: rgb(255, 250, 176);
  width: 100%;
  font-family: 'Maitree', serif;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,46,93);
  color:rgb(255, 255, 255);
}
header img {
  width: 76px;
  height: 76px;
}
#stacked-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#stacked-header > * {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
}
#stacked-header p {
  color:rgb(255, 250, 176);
}
nav button {
  width: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
  cursor:pointer;
}
nav {
  margin-bottom: 0;
  box-shadow: 0 5px 8px #888888;
  background-color: white;
}
nav ul {
  width: 100%;
  padding-left: 0;
  list-style: NONE;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-weight: 1000;
  font-size: larger;
  color: rgb(0,46,93);
  font-weight:900;
  margin-top: 0;
  text-align: center;
}
nav ul li {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul a {
  display: block;
  text-decoration: none;
  color: rgb(0,46,93);
}
nav li a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}
nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(0,46,93);
  opacity: 0;
  transition: opacity 700ms, transform 700ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

nav li a:hover::after,
nav li a:focus::after {
  transform: scale(1);
}
nav ul .active a::after {
  transform: scale(1);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(0,46,93);
  opacity: 0;
  transition: opacity 700ms, transform 700ms;
  opacity: 1;
  transform-origin: center;
  
}
nav ul.hide {
  display: none;
}
.first-header {
  border-radius: 25px 25px 0 0;
  margin-top: 0;
}
#gallery-main {
  width: 100%;
  max-width: 98vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vw;
  margin: 1vw;
}
@keyframes hoverfigure {
  from {box-shadow: 0px 5px 8px #888888; margin: 0; }
  to {box-shadow: 10px 15px 8px #888888; margin: -5px; }
}
.gallery figure {
  margin: 0;
  box-shadow: 0px 5px 8px #888888;
}
.gallery figure img {
  width: 100%;
}
.gallery figure figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
  padding: .2em;
}
main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0 5px 8px #888888;
  overflow: hidden;
}
h1, h2 {
  text-align: center;
  background-color: rgb(0,46,93);
  color: rgb(255, 255, 255);
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  color: rgb(46, 196, 182);
}
#banner img {
width: 100%;
max-height: 80vh;
margin-bottom: 0;
}
#banner {
  position: relative;
}
#banner ul {
  margin-top: 0;
}
#weather-summary {
  background-color: rgba(0,46,93,1);
  color: white;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-gap: 1em;
}
.table-header {
  grid-column: 1 / 3;
  text-align: center;
  border-bottom: 2px solid white;
}
.label {
  grid-column: 1 / 2;
  text-align: right;
}
.value {
  grid-column: 2 / 3;
  text-align: left;
}
.article p {
  margin: 1em;
}
#article-floater {
  float: right;
  margin-left: .5em;
  width: 50vw;
}
[data-src] {
  min-width: 50px;
  min-height: 50px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,46,93);
  color:rgb(255, 255, 255);
  text-align: center;
}
footer img {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.active {
  display: block;
  text-transform: uppercase;   
  text-shadow: 1px 0 rgb(0,46,93);
  letter-spacing:2px;
  font-weight:bold;
}
#notification-banner {
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color:rgb(97, 255, 176);
  color: rgba(91, 91, 91, 0.85);
  font-weight: 900;
}
#notification-banner li {
  list-style-type: none;
  display: flex;
  padding: 5px;
  margin: 0;
}
#notification-banner p {
  padding-left: 20px;
  padding-right: 20px;
}
#notification-banner li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f05a";
  align-self: center;
  color: rgba(91, 91, 91, 0.85);
}
#notification-banner li button {
  border-left: 1px solid rgba(193, 191, 191, 0.85);
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  background-color: transparent;
  color: rgba(91, 91, 91, 0.85);
  cursor: pointer;
}
#five-day-forecast {
  display: none;
}
