@media only screen and (min-width: 50em) {
  nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+50,b3bead+100 */
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 50%, #b3bead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 50%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 50%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
  }
  nav ul li {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  footer img {
    margin-left: 0;
    margin-right: 0;
  }
  footer #footer-contact-info {
    margin-left: 30px;
    text-align: left;
  }
}