@media only screen and (min-width: 32.5em) {
  nav {
    background-color: white;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96vw;
    padding-left:2vw;
    padding-right:2vw;
  }
  nav ul li {
    align-self: center;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  main {
    max-width: 787px;
  }
  header img {
    width: 128px;
    height: 128px;
  }
  nav ul.hide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav button {
    display: none;
  }
}