body {
  background-color: rgb(255, 250, 176);
  width: 100%;
  font-family: 'Maitree', serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,46,93);
  color:rgb(255, 255, 255);
}
header img {
  width: 76px;
  height: 76px;
}
#stacked-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#stacked-header > * {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
}
#stacked-header p {
  color:rgb(255, 250, 176);
}
nav button {
  width: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
  cursor:pointer;
}
nav {
  margin-bottom: 10px;
  box-shadow: 0 5px 8px #888888;
  background-color: white;
}
nav ul {
  width: 100%;
  padding-left: 0;
  list-style: NONE;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-weight: 1000;
  font-size: larger;
  color: rgb(0,46,93);
  font-weight:900;
  margin-top: 0;
  text-align: center;
}
nav ul li {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul a {
  display: block;
  text-decoration: none;
  color: rgb(0,46,93);
}
nav li a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}
nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(0,46,93);
  opacity: 0;
  transition: opacity 700ms, transform 700ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

nav li a:hover::after,
nav li a:focus::after {
  transform: scale(1);
}
.active::after {
  transform: scale(1);
}
nav ul.hide {
  display: none;
}
.first-header {
  border-radius: 25px 25px 0 0;
}
main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0 5px 8px #888888;
  overflow: hidden;
}
h1, h2 {
  text-align: center;
  background-color: rgb(0,46,93);
  color: rgb(255, 255, 255);
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  color: rgb(46, 196, 182);
}
#banner {
  display: static;
}
#banner img {
width: 100%;
margin-bottom: 0;
}
#banner {
  position: relative;
}
#banner ul {
  margin-top: 0;
}
#weather-summary {
  position: block;
  background-color: rgba(0,46,93,1);
  color: white;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 6;
  grid-gap: 1em;
}
.table-header {
  grid-column: 1 / 3;
  text-align: center;
  border-bottom: 2px solid white;
}
.label {
  grid-column: 1 / 2;
  text-align: right;
}
.value {
  grid-column: 2 / 3;
  text-align: left;
}
#five-day-forecast {
  display: none;
}
#days-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: 0;

}
#days-grid li {
  display: flex;
  flex-direction: column;
  margin-left: .1em;
  margin-right: .1em;
  background-color: #eee;
  font-weight: 900;
}
#days-grid li:nth-of-type(1) {
  margin-left: 0;
}
#days-grid li:nth-of-type(5) {
  margin-right: 0;
}
#five-day-forecast h1 {
  margin-bottom: 0;
  margin-top: 0;
  color: rgb(0,46,93);
  background-color: white;
}
#days-grid li .day {
  background-color: rgb(0,46,93);
  color: white;
}
#days-grid img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.article p {
  margin: 1em;
}
#article-floater {
  float: right;
  margin-left: .5em;
  width: 50vw;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,46,93);
  color:rgb(255, 255, 255);
  text-align: center;
}
footer img {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.active {
  display: block;
  font-weight: 900;
}

